<div class="card text-center infoContainer">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="info" aria-selected="true"
                   href="#info">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="history" aria-selected="true"
                   href="#history">Historique</a>
            </li>
            <li class="nav-item" *ngIf="type === 'file'">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="version" aria-selected="true"
                   href="#version">Version</a>
            </li>
            <li class="nav-item" *ngIf="modeDisplay !== 'sharedClouds' && modeDisplay !== 'sharedFolder'">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="links" aria-selected="true"
                   href="#links">Liens</a>
            </li>
            <li class="nav-item" *ngIf="modeDisplay !== 'sharedClouds' && modeDisplay !== 'sharedFolder'">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="share" aria-selected="true"
                   href="#share">Partage</a>
            </li>
        </ul>
    </div>
    <div class="card-body infoBody">
        <div class="tab-content">
            <div id="info" class="tab-pane fade show active text-align-left" role="tabpanel" aria-labelledby="home-tab">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{element.name}}</h5>
                    </div>
                    <div class="card-footer text-muted">
                        Nom
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                    </div>
                    <div class="card-footer text-muted">
                        Créé par
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{element.createdAt | amLocale:'fr' | amDateFormat:'LLLL'}}</h5>
                    </div>
                    <div class="card-footer text-muted">
                        Créé le
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{element.updatedAt | amLocale:'fr' | amDateFormat:'LLLL'}}</h5>
                    </div>
                    <div class="card-footer text-muted">
                        Modifié le
                    </div>
                </div>

            </div>
            <div id="history" class="tab-pane fade" role="tabpanel" aria-labelledby="history-tab">
                <app-history-card *ngFor="let history of histories" [history]="history"></app-history-card>
            </div>
            <div id="version" class="tab-pane fade" role="tabpanel" aria-labelledby="version-tab" *ngIf="type === 'file'">
                <app-version-card *ngFor="let version of versions" [version]="version" (reverted)="getVersions($event, currentDirectory._id)" (update_files)="emitUpdateFiles($event)"></app-version-card>
            </div>
            <div id="links" class="tab-pane fade" role="tabpanel" aria-labelledby="links-tab">
                <app-share-card [element]="element" [type]="type"></app-share-card>
            </div>
            <div id="share" class="tab-pane fade" role="tabpanel" aria-labelledby="share-tab">
                <app-mail-share-card *ngFor="let right of Rights" [right]="right" (messageEvent)="onSharedDelete()"></app-mail-share-card>
                <div *ngIf="Rights && Rights.length === 0">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Cet élément n'est pas partagé</h5>
                        </div>
                        <div class="card-footer text-muted">
                            Pas de partage
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
