<nav class="breadcrumb">
    <a *ngFor="let item of parents" class="breadcrumb-item" routerLink="/folders/{{item._id}}">{{item.name}}</a>
    <span *ngIf="currentDirectory" class="breadcrumb-item active">{{currentDirectory.name}}</span>
    <div class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        </div>
    </div>
</nav>
<div class="homeContainer">
    <div class="card">
        <div class="card-header">
            Shared Files
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <app-file-card *ngFor="let file of files" [file]="file" class="col-2"></app-file-card>
                </div>
            </div>
        </div>
    </div>
</div>
