<nav class="breadcrumb">
    <a *ngFor="let item of parents" class="breadcrumb-item" routerLink="/folders/{{item._id}}">{{item.name}}</a>
    <span *ngIf="currentDirectory" class="breadcrumb-item active">{{currentDirectory.name}}</span>
</nav>

<div class="row homeContainer">
    <div class="col dataBlock">
        <div class="card">
            <div class="card-header">
                folder <i class="fa fa-plus-square btn cursor-pointer float-right btn-create" data-toggle="modal"
                          data-target="#getNameDirectory"></i>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <app-folder-card (messageEvent)="setSelectedElement($event, 'dir')" *ngFor="let directory of children" [directory]="directory"
                                         class="col-2 col-sm-4"></app-folder-card>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Files
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <app-file-card *ngFor="let file of files" [file]="file" class="col-2 col-sm-4"></app-file-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" *ngIf="selectedElement">
        <app-info-card [element]="selectedElement"></app-info-card>
    </div>
</div>

<div class="modal fade" id="getNameDirectory" tabindex="-1" role="dialog" aria-labelledby="getNameDirectoryTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="getNameDirectoryTitle">Entrer le nom du dossier : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (submit)="createDirectory()">
                <div class="modal-body">
                    <div [formGroup]="directoryForm">
                        <input type="text" class="form-control" name="directoryNameField" formControlName="directoryName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>

