<nav class="breadcrumb">
    <a *ngFor="let item of parents" class="breadcrumb-item" routerLink="/folders/{{item._id}}">{{item.name}}</a>
    <span *ngIf="currentDirectory" class="breadcrumb-item active">{{currentDirectory.name}}</span>
    <div class="breadcrumb-menu">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="#"><i class="cui-settings"></i>Upload</a>
            <a class="btn" href="#"><i class="fa fa-plus-square"></i>Créer un dossier</a>
        </div>
    </div>
</nav>
<div class="app aside-menu-show" style="background-color:#e4e5e6">
        <aside class="aside-menu" [hidden]="isHidden">
            Infos :
            <ul>
                <li *ngIf="fileMenu">Nom du fichier : {{fileMenu.name}}</li>
                <li *ngIf="fileMenu">Date de création du fichier : {{fileMenu.date_create | date :  "dd/MM/yyyy"}}</li>
                <li *ngIf="fileMenu">Version du fichier : {{fileMenu.file_version}}</li>
                <li *ngIf="fileMenu">Type du fichier : {{fileMenu.file_type}}</li>
                <li *ngIf="fileMenu">Créateur : {{fileMenu.user_create}}</li>
                <li *ngIf="fileMenu">Dernière modification : {{fileMenu.user_update}}</li>
            </ul>
            Historique :
            <ul *ngFor="let history of fileHistory">
                <li *ngIf="fileHistory">{{history.action}} le {{history.createdAt | date :  "dd/MM/yyyy"}} par {{history.user}}</li>
            </ul>
        </aside>
<div class="homeContainer">
    <div class="card">
        <div class="card-header">
            folder
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <app-folder-card *ngFor="let directory of children" [directory]="directory" class="col-2"></app-folder-card>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Files
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <app-file-card *ngFor="let file of files" [file]="file" class="col-2"></app-file-card>
                </div>
            </div>
        </div>
        <div class="center">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
            </ngx-file-drop>
        </div>
    </div>
</div>
</div>



