<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/Cloudify_name.png', width: 55, height: 55, alt: 'Cloudify Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/Cloudify_name.png', width: 30, height: 30, alt: 'Cloudify Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none mr-auto">
    <li class="nav-item px-3">
      <a class="nav-link" href="#">Accueil</a>
    </li>
  </ul>
    <button *ngIf="user && user.rank > 0" class="btn btn-outline-success my-2 my-sm-0" routerLink="/admin">Backoffice</button>
    <app-navbar-dropdown></app-navbar-dropdown>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!--<app-navbar class="sidebar-show"></app-navbar>-->
  <main class="main">
    <div class="container-fluid cloudifyMainContainer">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="true">

  </app-aside>
</div>
<app-footer>
  <span><a href="#">Cloudify</a> &copy; 2019</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/pro/angular">CoreUI Pro for Angular</a></span>
</app-footer>
