<nav class="breadcrumb">
    <a *ngIf="sharedParentDirectory" class="breadcrumb-item" routerLink="/shared/folders/{{link._id}}/0">{{sharedParentDirectory.name}}</a>
    <a *ngFor="let item of parents" class="breadcrumb-item" routerLink="/shared/folders/{{link._id}}/{{item._id}}">{{item.name}}</a>
    <span *ngIf="currentDirectory" class="breadcrumb-item active">{{currentDirectory.name}}</span>
</nav>
<div class="homeContainer">
    <div class="card">
        <div class="card-header">
            Shared folder
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div *ngFor="let directory of children" class="col-2">
                        <div class="card cursor-pointer" (dblclick)="openFolder(directory._id)"
                             (click)="selectFolder($event, directory)">
                            <div class="card-block p-1">
                                <i class="fa fa-folder p-1 font-2xl mr-1 iconCard float-left"></i>
                                <div class="h5 h5 p-1 font-2lg mr-1 textCard">{{directory.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Shared Files
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <app-file-card *ngFor="let file of files" [file]="file" class="col-2"></app-file-card>
                </div>
            </div>
        </div>
        <div class="center" *ngIf="!ReadOnly">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="this.homeComponent.dropped($event)">
            </ngx-file-drop>
        </div>
    </div>
</div>
