<section class="pricing py-5">
    <div class="container">
        <div class="row">
            <div *ngFor="let subscription of subscriptions" class="col-lg-4">
                <app-subscription-card *ngIf="subscription._id === currentTransaction.subscription._id" [subscription]="subscription" [isCurrent]="true"></app-subscription-card>
                <app-subscription-card *ngIf="subscription._id !== currentTransaction.subscription._id" [subscription]="subscription" [isCurrent]="false"></app-subscription-card>
            </div>
        </div>
    </div>
</section>

